
.program-view .header-global h1.logo a {
    display: block;
}

.program-view .header-global .wrapper-header .logo {
    margin: -5px 39px 0 0;
}

.program-view .header-global .wrapper-header .list-inline.nav-global {
    margin-top: 10px;
    line-height: 19px;
}

.program-view .header-global .wrapper-header {
    max-width: 1200px;
}

.program-view .header-global .wrapper-header .wrapper-user-menu {
    margin-top: 0px;
    color: #fff;
}

.program-view .dropdown-menu-container .menu-title {
    color: #fff;
}

.program-view .dropdown-menu-container .menu-image {
    max-width: 40px;
    border-radius: 10%;
    margin-right: 12px;
}

.program-view .header-global .nav-courseware li .course-search .search-input {
    font-weight: 300;
}

.program-view input[type="text"],
.program-view input[type="email"] {
    padding: 5px 12px;
}

.program-view .gooroo-newsletter input[type='submit'], .gooroo-newsletter input[type='submit']:hover {
    padding: 9px 20px;
    color: #fff;
    border:1px;
}

.program-view .window-wrap {
    background-color: #fff;
}

.program-view footer.gooroo-footer .footer-container {
    max-width: 1232px;
}

.program-view footer.gooroo-footer ul {
    margin-left: 0px;
}

.program-view .altron-footer #footer-sidebar4 #media_image-2 img {
    bottom: -95px;
}

.view-dashboard .header-global .wrapper-header .tab-nav-item .active,
.program-view .header-global .wrapper-header .tab-nav-item .active,
.view-profile .header-global .wrapper-header .tab-nav-item .active,
.header-global .wrapper-header .tab-nav-item .tab-nav-link:active, 
.header-global .wrapper-header .tab-nav-item .tab-nav-link:focus, 
.header-global .wrapper-header .tab-nav-item .tab-nav-link:hover {
    border-bottom: none !important;
}

.program-header .subtitle {
    font-size: 1em;
}

.view-dashboard .header-global .nav-global.explore,
.program-view .header-global .nav-global.explore,
.account_settings .header-global .nav-global.explore, 
.view-profile .header-global .nav-global.explore{
    display: none;
}

.program-view .upgrade-message {
    display: none !important;
}

/* Program Marketing detail page */
.program-details .header-global .wrapper-header .list-inline.nav-courseware {
    margin-top: 0px;
}

.program-details .header-global .nav-courseware li .btn {
    text-transform: capitalize;
    border: none;
}

.program-details .header-global .nav-courseware li .btn-neutral {
    background: none;
    border: none;
    text-transform: initial;
}

.program-details .header-global .wrapper-header .list-inline .item {
    margin-right: 0px;
}

.program-details .header-global .nav-courseware li .course-search .search-button {
    margin-right: 30px;
}


/* Program Marketing Page */

.find-courses, .university-profile {
    background: #fff !important;
}

.view-program-marketing .courses-container .courses .course .course-info .course-price {
    text-transform: none;
}

.view-program-marketing .courses-container .courses .course .course-info .course-organization {
    font-weight: 600 !important;
}

.view-program-marketing .courses-container .courses .course .course-info {
    height: 220px;
}

.view-program-marketing .courses-container .courses .course .course-info .course-title {
    height: 60px;
    overflow: hidden;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.view-program-marketing .courses-container .courses .course .course-info .course-date {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.view-program-marketing .courses-container .courses .course .course-image .cover-image {
    padding: 0px !important;
    height: 93px !important;
}

.view-program-marketing .courses-container .courses .course:hover .cover-image:before, 
.view-program-marketing .courses-container .courses .course:focus .cover-image:before,
.view-program-marketing .courses-container .courses .course:hover .cover-image .learn-more, 
.view-program-marketing .courses-container .courses .course:focus .cover-image .learn-more {
    opacity: 0;
    trasition: none;
}

.view-program-marketing .courses-container .courses .course .learn-more {
    background-color: #4097d3 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #ffffff !important;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
}
.courses-container .courses .course .course-info .course-organization {
    font-size: 12px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.83 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: #778188 !important;
    float: left !important;
    padding-bottom: 20px !important;
} 

.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-price {
    font-size: 12px !important;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: right;
    color: #778188;
    float: right;
    padding: 10px 15px 2px 15px;
}

.courses-container .courses .course .course-info .course-title {
    font-size: 22px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.27 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: #313942 !important;
    clear: both !important;
}

.courses-container .courses .course .course-info .course-date {
    font-size: 14px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.57 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: #778188 !important;
}

.courses-container .courses .course .course-image .cover-image .learn-more {
    background-color: #4097d3 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #ffffff !important;
	top: 55px !important;
}

.courses-container .courses .course {
    border: none !important;
    box-shadow: none !important;
    background-color: #f5f6f9 !important;
}

@media screen and (min-width: 980px) {
    .home .courses-container .courses .courses-listing .courses-listing-item {
        float:left;
        display: block;
        margin-right: 3.5%;
        width: 22% !important;
    }

    .home .courses-container .courses .courses-listing .courses-listing-item:last-child {
        margin-right: 0 !important;
    }

    .home .courses-container .courses .courses-listing .courses-listing-item:nth-child(3n+1) {
        clear: right;
    }
}

@media screen and (min-width: 769px) {
    .courses-container .courses-more {
        text-align: center !important;
    }
}
.program-card .certificate-status .secondary,.program-card .certificate-status .status-text:focus ~ .status-text,.program-card .certificate-status .status-text:active ~ .status-text {
    left: 0;
    display: inline-block;
    position: absolute;
    top: -999999px;
    overflow: hidden
}

.program-card {
    margin-left: calc(0.5 * 1rem);
    margin-right: calc(0.5 * 1rem);
    width: calc(100% - 1rem);
    border: 1px solid #b1b2b4;
    border-bottom: none;
    margin-bottom: 20px;
    position: relative
}

@media (min-width: 768px) {
    .program-card {
        margin-left:calc(0.5 * 1rem);
        margin-right: calc(0.5 * 1rem);
        width: calc(50% - 1rem)
    }

    .program-card:nth-child(2n) {
        margin-left: calc(0.5 * 1rem);
        margin-right: calc(0.5 * 1rem);
        width: calc(50% - 1rem);
        margin-right: 0;
        width: calc(50% - 0.5 * 1rem)
    }

    .program-card:nth-child(2n+1) {
        margin-left: calc(0.5 * 1rem);
        margin-right: calc(0.5 * 1rem);
        width: calc(50% - 1rem);
        margin-left: 0;
        width: calc(50% - 0.5 * 1rem)
    }
}

.program-card .card-link {
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    z-index: 1;
    opacity: 0.8
}

.program-card .card-link:active,.program-card .card-link:hover,.program-card .card-link:focus {
    opacity: 1
}

.program-card .card-link .banner-image-container {
    position: relative;
    overflow: hidden;
    height: 166px
}

@media (min-width: 480px) {
    .program-card .card-link .banner-image-container {
        height:242px
    }
}

@media (min-width: 768px) {
    .program-card .card-link .banner-image-container {
        height:116px
    }
}

@media (min-width: 1024px) {
    .program-card .card-link .banner-image-container {
        height:145px
    }
}

.program-card .card-link .banner-image-container .banner-image {
    left: 50%;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: translate(-50%, 0);
    min-height: 100%
}

.program-card .text-section {
    padding: 40px 20px 20px;
    position: relative;
    margin-top: 156px
}

@media (min-width: 480px) {
    .program-card .text-section {
        margin-top:232px
    }
}

@media (min-width: 768px) {
    .program-card .text-section {
        margin-top:106px
    }
}

@media (min-width: 1024px) {
    .program-card .text-section {
        margin-top:135px
    }
}

.program-card .meta-info {
    font-size: 0.75rem;
    color: #111;
    position: absolute;
    top: 20px;
    width: calc(100% - 40px)
}

.program-card .organization {
    margin-left: calc(0.5 * 1rem);
    margin-right: calc(0.5 * 1rem);
    width: calc(50% - 1rem);
    margin-left: 0;
    margin-right: 0;
    width: 50%;
    white-space: nowrap;
    overflow: hidden
}

.program-card .category {
    margin-left: calc(0.5 * 1rem);
    margin-right: calc(0.5 * 1rem);
    width: calc(50% - 1rem);
    margin-left: 0;
    margin-right: 0;
    width: 50%;
    text-align: right
}

.program-card .category .category-text {
    float: right
}

.program-card .category .category-icon {
    float: right ;
    margin-right: 5px;
    background-color: transparent;
    background-size: 100%;
    width: 14px;
    height: 14px
}

.program-card .hd-3 {
    color: #111;
    min-height: 60px;
    line-height: 1
}

.program-card .certificate-status {
    margin-bottom: 0
}

.program-card .certificate-status .status-text {
    font-size: 0.75rem;
    color: #111;
    line-height: 1
}

.program-card .certificate-status .status-text:focus,.program-card .certificate-status .status-text:active {
    position: relative;
    top: 4px;
    width: auto;
    height: auto;
    margin: 0;
    text-decoration: none
}

.program-card .progress {
    height: 5px;
    background: #d9d9d9
}

.program-card .progress .bar {
    float: left ;
    height: 100%;
    position: relative
}

.program-card .progress .bar.complete {
    background: #009b00
}

.program-card .progress .bar.in-progress {
    background: #ffc01f
}

.xseries-icon {
    background: url("/static/images/programs/xseries-icon.517989d98885.svg") no-repeat
}

.micromasters-icon {
    margin-top: 1px;
    background: url("/static/images/programs/micromasters-icon.eeed247d5c89.svg") no-repeat
}

.certificate-icon .certificate-body {
    float: left ;
    margin-right: 8px;
    margin-top: 2px;
    width: 23px;
    height: 20px;
    padding: 2px;
    background-color: #fff;
    border-style: solid;
    border-width: 2px
}

.green-icon .certificate-body {
    fill: #008100;
    border-color: #008100
}

.blue-icon .certificate-body {
    fill: #065683;
    border-color: #065683
}

.program-details .content-wrapper {
    max-width: 100%;
    padding-top: 0
}

.program-header .banner-content {
    padding-top: 100px
}

.program-header .title {
    margin: 0
}

.program-header .title,.program-header .subtitle {
    color: #fff;
    font-weight: 600
}

.program-header .org-wrapper {
    position: absolute;
    top: 0;
    background: #fff;
    opacity: 0.7;
    left: 0;
    padding: 20px
}

.program-header .org-logo {
    height: 50px
}

.program-header .breadcrumb-wrapper {
    padding: 20px
}

@media (min-width: 1280px) {
    .program-header .breadcrumb-wrapper {
        padding-left:0
    }
}

.program-header .breadcrumb-list {
    list-style-type: none;
    margin: 0
}

.program-header .crumb {
    position: relative;
    float: left;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #111
}

.program-header .crumb.active {
    color: #111
}

.program-header .crumb-link {
    font-size: inherit;
    line-height: inherit;
    color: #0075b4
}

.program-header .crumb-link:hover,.program-header .crumb-link:focus {
    text-decoration: underline
}

.program-header .crumb-separator {
    font-size: 0.6875rem;
    line-height: 1.5;
    padding: 0 5px
}

.program-list-wrapper {
    padding: 20px
}

.program-cards-container {
    display: flex;
    max-width: 73.125rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0 auto;
    margin-left: calc(0.5 * 1rem);
    margin-right: calc(0.5 * 1rem);
    width: calc(100% - 1rem)
}

@media (min-width: 768px) {
    .program-cards-container {
        margin-left:calc(0.5 * 1rem);
        margin-right: calc(0.5 * 1rem);
        width: calc(75% - 1rem)
    }
}

.sidebar {
    margin-left: calc(0.5 * 1rem);
    margin-right: calc(0.5 * 1rem);
    width: calc(100% - 1rem);
    float: right ;
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .sidebar {
        margin-left:calc(0.5 * 1rem);
        margin-right: calc(0.5 * 1rem);
        width: calc(25% - 1rem)
    }
}

.sidebar .aside {
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #b1b2b4
}

.sidebar .program-advertise {
    clear: both
}

.sidebar .program-advertise .new-programs-btn {
    width: 100%;
    text-align: center;
    padding: 10px
}

.sidebar .program-advertise .advertise-message {
    font-size: 0.75rem;
    margin-bottom: 20px
}

.sidebar .certificate-container .hd-6 {
    color: #111;
    font-weight: 400;
    margin-bottom: 20px
}

.sidebar .certificate-container .certificate-link {
    padding-top: 20px;
    color: #0075b4;
    display: block
}

.sidebar .certificate-container .certificate-link:active,.sidebar .certificate-container .certificate-link:focus,.sidebar .certificate-container .certificate-link:hover {
    color: #065683;
    text-decoration: underline
}

.empty-programs-message {
    margin-left: calc(0.5 * 1rem);
    margin-right: calc(0.5 * 1rem);
    width: calc(100% - 1rem);
    border: 3px solid #e8e9e9;
    background: #f9f9f9;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 20px
}

.empty-programs-message .hd-3 {
    color: #161616;
    margin-bottom: 20px
}




/* extra CSS write to make eduonline like css */

@media (min-width: 768px){
.content-wrapper {
    padding: 0;
}
}
.content-wrapper {
    max-width: 1920px;
    margin-top: 0px;
}
.wrapper-footer footer#footer-openedx {
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
.courses-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.main-header{
    max-width: 1200px;
    margin: 0 auto;
}
.custom-container-kpit{
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper-footer footer{
    max-width: 1200px;
    margin: 0 auto;
}
.dropdown-user-menu{
    right: unset;
}
.wrapper-messages-primary .message.message-related-programs li {
    float: left;
    display: inline;
    padding: 0 0.5em;
    border-right: 1px solid;
    padding-right: 8px !important;
}
